button:is(button:where(.button)) {
  margin: 0;
  padding: 0.8rem 1.6rem;
  color: var(--color-back-primary);
  background-color: var(--color-text-primary);
  background-image: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0.01rem solid var(--color-text-primary);
  border-radius: 1rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 100%;
  white-space: nowrap;
  cursor: pointer;
  appearance: button;
}

button:is(button:where(.button)):disabled {
  color: var(--color-text-secondary);
  background-color: var(--color-back-secondary);
  border: 0.01rem solid var(--color-back-secondary);
  cursor: default;
}

button:is(button:where(.primary)) {
}

button:is(button:where(.secondary)) {
}

button:is(button:where(.outline)) {
}

button:is(button:where(.ghost)) {
}

button:is(button:where(.link)) {
}

button:is(button:where(.sm)) {
}
button:is(button:where(.lg)) {
}
